#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_install:
	# build venv
	virtualenv --python=python3.4 debian/venv
	debian/venv/bin/pip3 install -r requirements.txt
	#python setup.py install
	virtualenv --relocatable debian/venv
	dh_auto_install
