#!/usr/bin/make -f

VENV = 'debian/venv'
SANDBOX_VENV = 'debian/sandbox-venv'

%:
	dh $@

override_dh_auto_install:
	# build venv
	virtualenv --python=python3.4 $(VENV)
	$(VENV)/bin/pip3 install -r requirements.txt
	virtualenv --python=python3.4 --relocatable $(VENV)
	
	# build sandbox venv
	virtualenv --python=python3.4 $(SANDBOX_VENV)
	virtualenv --python=python3.4 --relocatable $(SANDBOX_VENV)
	dh_auto_install

override_dh_clean:
	dh_clean
	rm -rf $(VENV)
	rm -rf $(SANDBOX_VENV)
	find . -name '*.py[oc]' -delete
	find . -name '__pycache__' -type d -delete
